main{
    padding-top:10em;
    min-height: 85vh;
}

.section-wrapper{
    max-width: 900px;
}

#blogHeader{
    position: relative;
    height: 450px;
    background: #fb8300;
    margin-bottom: 3em;
}

#blogImage{
    width: 100%;
    height: 600px;
    margin-bottom:3em;
    object-fit: cover;
    object-position: top;
    mix-blend-mode: multiply;
}

#blogTitle{
    font-size: 2.3em;
    line-height: 1.2em;
    color: #333;
    margin-bottom: 0.3em;
    max-width: 80%;
}

#blogDate{
    font-size: 1em;
    color: #777;
    display: block;
    margin-bottom: 1.5em;
}

#blogContent{
    margin-bottom: 4em;
}

#blogContent p{
    font-size: 1.15em;
    line-height: 1.7em;
    color: #555;
    margin-bottom: 0.5em;
}

#blogContent img,
#blogContent .video-iframe{
    margin-left: -5em;
    width: 100%;
    width: calc(100% + 10em);
    height: 500px;
    object-fit: cover;
    object-position: center;
    margin-top: 2em;
    margin-bottom: 2.5em;
    position: relative;
}

.video-iframe iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#blogContent img + small,
#blogContent .video-iframe + small{
    margin-top: -1em;
    margin-bottom: 2em;
    display: block;
    text-align: center;
    color: #555;
    font-size: 1.1em;
    /* font-style: italic; */
    font-weight: 100;
}

#relatedArticles{
    margin-top: 6em;
}

#relatedArticles h2{
    font-size: 0.95em;
    letter-spacing: 0.1em;
    font-weight: normal;
    margin-bottom: 0.5em;
    color: #555;
}

#relatedArticles .section-wrapper{
    max-width: 1280px;
}

.blog-item{
    margin-right: 1.5em;
    padding-top: 1em;
    padding-bottom: 1.5em;
    display: flex;
    position: relative;
}

.blog-item:not(:last-of-type){
    border-right: 1px solid #ddd;
}

.blog-item img{
    width: 120px;
    height: 90px;
    margin-right: 1em;
    object-fit: cover;
    object-position: center;
}

.blog-item .text{
    flex: 1;
    padding-right: 0.7em;
}

.blog-item h3{
    font-size: 1.1em;
    font-weight: 100;
    line-height: 1.4em;
    color: #000;
    max-width: 550px;
}


#ceoQuote{
    display: none;
}

footer {
    padding-top: 1em;
    position: relative;
    z-index: 11;
}

footer #copyright {
    padding: 0.8em 0;
}

footer #footerLocation a {
    padding-top: 0.2em;
    margin-top: 0.8em;
}

footer .section-wrapper{
    padding-top: 1em;
    padding-bottom: 0;
}