body {
    --accent-color: #f7921e;
    --accent-color2: #f1cd0b;
    --main-color: #e65307;
    --main-black: #231f21;
}

body.show-nav,
body.locked {
    overflow-y: hidden;
}

section {
    min-height: 20vh;
    background: #fff;
}

section:not(.no-pad) {
    padding: 4em 0;
}

.section-title~p {
    line-height: 2em;
    font-size: 0.95em;
    margin-bottom: 0.8em;
}

.section-title~p:nth-of-type(:last-child) {
    margin-bottom: 0;
}

.text-bold {
    font-weight: bold;
}

.text-primary {
    color: var(--main-color)
}

.text-accent {
    color: var(--accent-color)
}

.section-wrapper {
    max-width: 1400px;
    padding: 0 3em;
    margin: 0 auto;
}

header {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em 0;
}

header #logo {
    z-index: 1;
    margin-bottom: 1.2em;
}

#logoImage {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    background: #f0f0f0;
}

#logoImage img {
    width: 100% !important;
    height: auto !important;
}

nav {
    height: 30px;
}

nav a {
    padding: 0.9em 1.1em;
    font-size: 1em;
    color: #505050;
    min-width: 110px;
    position: relative;
}

nav a.active:after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 5px;
    height: 5px;
    margin: 0 auto;
    border-radius: 50%;
    background: var(--accent-color2);
}

.section-title {
    font-weight: bold;
    font-size: 1.7em;
    display: inline-block;
    position: relative;
    margin-bottom: 0.8em;
    color: var(--main-color);
}

.section-title.for-dark {
    color: var(--accent-color);
}

.section-title.center {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.section-title small {
    font-weight: normal;
    font-size: 18px;
    color: #777;
    display: block;
    margin: 0.3em 0;
}

.image {
    overflow: hidden;
}

.image img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: top;
}

button {
    border: none;
    background: transparent;
    outline: none;
}

.dp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dp img {
    object-fit: cover;
    object-position: center;
}

footer {
    padding-top: 2em;
    padding-bottom: 1em;
    background: var(--main-black);
    color: var(--footer-text-color);
}

footer .footer-section h5 {
    color: #e8ecf1;
    font-size: 1.1em;
    margin-bottom: 1.3em;
}

footer #ceoQuote {
    padding: 4em 2em;
    text-align: center;
    color: #fff;
}

footer #ceoQuote q {
    font-weight: 100;
    max-width: 800px;
    font-size: 2em;
    line-height: 1.3em;
    margin-bottom: 0.6em;
    quotes: "“" "”" "‘" "’";
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}

footer #copyright {
    font-size: 0.9em;
    padding: 2em 0;
    color: #999;
}

footer #footerLocation svg {
    width: 40px;
    height: 40px;
}

footer #footerLocation {
    line-height: 1.6em;
}

footer #footerLocation a {
    padding-top: 0.2em;
    color: #ccc;
    display: block;
}

footer #copyright hr {
    width: 0;
    height: 30px;
    border-color: transparent;
    border-left-color: #999;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 521px) {
    .for-mob {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .for-lg,
    .for-md {
        display: none !important;
    }

    header{
        position: relative;
        background: #000;
    }

    header #logo {
        margin-bottom: 0.6em;
    }

    #logo img {
        width: 50px;
        height: 50px;
    }

    nav a {
        padding: 0.9em 0.7em;
        min-width: 0;
        position: relative;
        color: #9b9a9a
    }
    
    nav a:not(.active) {
        color: #9b9a9a
    }

    body, html{
        width: 100vw;
        overflow-x: hidden;
    }

    body{
        overflow-y: auto;
    }

    .section-wrapper {
        padding-left: 20px;
        padding-right: 20px;
    }

    section:not(.no-pad) {
        padding: 2em 0;
    }

    .section-title {
        font-weight: bold;
        font-size: 1.3em;
        display: inline-block;
        position: relative;
        margin-bottom: 0.8em;
        color: var(--main-color);
    }

    footer #ceoQuote {
		padding: 2em 1em;
		padding-top: 0.5em;
		text-align: center;
		color: #fff;
	}

	footer #ceoQuote q {
		font-size: 1.2em;
    }
    
    #copyright{
        flex-direction: column;
    }

    #copyright img{
        height: 30px;
    }

    #copyright img ~ span{
        line-height: 1.4em;
    }

    #copyright > div:first-child{
        margin-bottom: 2em;
    }
}