*{
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
    perspective: 1500px;
}

img{
    width: 100%;
}

.phone {
    position: relative;
    margin-top: 120px;
    width: 550px;
    height: 280px;
    transition: 0.35s transform ease-out;
    transform: rotateX(70deg);
    transform-origin: top;
    transform-style: preserve-3d;
}

.phone:hover {
    transform: rotateX(60deg);
}

.phone .front-screen {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 550px;
    height: 230px;
    padding: 2% 0 2% 0;
    background: #fff;
    border-radius: 30px 30px 0 0;
    border-radius: 30px;
    border-bottom: 1px solid #999;
    border-top: 1px solid #bbb;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ccc;
    transform: rotateX(0.1deg);
}

.phone .app-screen {
    /* position: relative; */
    background: #ddd;
    overflow: hidden;
    border-radius: 20px;
}

#appScreenScroller {
    /* height: 400%; */
    /* width: 90%; */
    transform: translateY(-300%);
    transition: 0.35s transform ease-out;
}

#appScreenScroller img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* opacity: 0; */
}

.speaker-wrapper {
    width: 4%;
}

.phone-btns {
    width: 4%;
}

.speaker-wrapper:before,
.speaker-wrapper:after,
.phone-btns:before {
    content: "";
    display: block;
    position: relative;
    color: #fff;
    width: 3px;
    height: 65px;
    border-radius: 30px;
    background: #c7c7c7;
}

.speaker-wrapper:after {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 1.8em;
    margin-bottom: 0.2em;
    display: none;
}

.speaker-wrapper:before {
    background: #cecece;
    margin-top: 0.8em;
}

.phone-btns:before {
    margin-right: 0.1em;
    width: 5px;
    height: 50px;
    background: #f7f7f7;
    border: 1px solid #d5d5d5;
    border-radius: 25px;
}

.right-edge {
    position: absolute;
    top: 205px;
    left: 0;
    width: 100%;
    height: 25px;
    border-radius: 0 0 250px 250px;
    background: #fff;
    background: #d6a220;
    border: 1px solid #ddd;
    z-index: -1;
    z-index: 120;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
}

.right-edge:before {
    content: "";
    position: absolute;
    top: 6px;
    bottom: 0;
    margin: auto 0;
    left: 15%;
    width: 60px;
    height: 6px;
    border-radius: 60px;
    background: #ebebeb;
    background: #946a00;
}

.right-edge:after{
    content: '';
    position: absolute;
    top: 90%;
    left: 0%;
    width: 100%;
    height: 0;
    /* background: #f00; */
    /* box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.5); */
}

.phone:hover .right-edge::before {
    opacity: 0;
}