header {
    position: fixed;
    padding: 1.5em 0;
}

header nav {
    height: 42px;
}

header #logo {
    margin-bottom: 0.1em;
}

header nav a {
    color: #505050;
}

#fullpage {
    /* , #circlesSection{ */
    /* display: none; */
}

#sectionScroller {
    position: absolute;
    bottom: 3em;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    outline: none;
    z-index: 10;
    transition: all 0.15s ease-out;
}

#sectionScroller:hover {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

#sectionScroller:hover svg {
    fill: #444;
}

body {
    color: #333;
    /* font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; */
}

section:not(.no-pad) {
    padding: 0;
}

section {
    height: 100vh;
    padding-top: 2vh !important;
    position: relative;
    overflow: hidden;
}

section.inversed .section-wrapper>.layout {
    flex-direction: row-reverse;
}

section .text {
    flex-shrink: 0;
    /* padding-bottom: 10vh; */
    margin-left: 4%;
    margin-right: 8%;
    width: 420px;
    padding-top: 1vh;
    transition: opacity 0.45s ease-in-out;
}

section .text:not(.visible) {
    /* animation: fadeOut 0.1s ease-out; */
    opacity: 0;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

section.inversed .text {
    margin-left: 8%;
    /* margin-right: 13%; */
}

section h1 {
    font-size: 2.3em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
}

section p {
    color: #444;
    font-size: 1.15em;
    line-height: 1.7em;
}

section a:not(#footerA) {
    display: block;
    margin-top: 2em;
    color: #f35819;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.7rem;
    max-width: 350px;
}

section .images {
    position: relative;
    width: 800px;
    /* margin-right: -200px; */
    height: 100vh;
}

section.inversed .images {
    /* margin-left: -200px; */
    margin-right: 0;
}

section .images .circle {
    content: "";
    display: block;
    position: relative;
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    background: #f0f0f0;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
}

section .images .circle>*:not(#otherOptions) {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform-origin: center;
}

#otherOptions{
    padding: 15% 8%;
    background: #fdded3;
    background: #fff2ed;
}

#otherOptions .fit-option {
    flex-basis: 48%;
    margin-bottom: 2.8em;
}

#otherOptions .fit-option span {
    margin-top: 1em;
    color: #6b3b2c;
}

section .images .circle>*:not(.visible):not(.first) {
    opacity: 0;
    /* transform: scale(0.9); */
}

section .images .circle>*.has-transition {
    transition: opacity 0.75s ease-out;
}

/* section .images .circle>*:not(.visible):not(.first).has-transition {
    transition: opacity 0.25s ease-out, transform 0.25s ease-out;
} */

#somafitBanner .text {
    /* padding-top: 15vh; */
}

#fitOptions {
    margin-top: 2em;
}

.fit-option {
    flex-basis: 33.333%;
    margin-bottom: 1em;
}

.fit-option img {
    display: inline-block;
    margin: auto;
    width: 65px;
}

.fit-option span {
    display: block;
    margin-top: 0.2em;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

#somafitColors .text {
    /* padding-top: 10vh; */
}

#lookMovers {
    margin-top: 2em;
}

.look-mover {
    cursor: pointer;
    margin-right: 0.8em;
    margin-bottom: 1em;
    padding: 0.7em 1.4em;
    border-radius: 3em;
    border: 2px solid #d4cecb;
}

.look-mover.active {
    background: #e8e8e8;
}

#circlesSection {
    pointer-events: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#circlesSection section {
    background: transparent;
}

#circlesSection section:last-child {
    transform: translateY(-100%);
}

#circlesSection .circle {
    transition: all 0.35s ease-out;
}

#circlesSection .circle.dunk {
    animation: dunk 0.7s ease-out;
}

@keyframes dunk{
    50%{
        opacity: 0;
        transform: scale(0.8);
    }
    
    to{
        opacity: 1;
        transform: none;
    }
}

#circlesSection .circle:not(.visible) {
    opacity: 0;
    transform: scale(0.8);
}

#outFitImages {
    transition: opacity 0.75s ease-out, transform 0.35s ease-out;
}

#outFitImages img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Overwriting fullPage.js tooltip color
* --------------------------------------- */

#fp-nav {
    display: none;
    padding: 0.8em 0;
    border-radius: 1.5em;
    background: rgba(246, 246, 246, 0.6901960784313725);
}

#fp-nav.hidden {
    opacity: 0 !important;
    pointer-events: none;
}

#fp-nav:not(:hover) {
    opacity: 0.2;
}


/* Overwriting fullPage.js tooltip color
* --------------------------------------- */

.fp-tooltip {
    color: #AAA;
}

#fp-nav span,
.fp-slidesNav span {
    border-color: #AAA;
}

#fp-nav li .active span,
.fp-slidesNav .active span {
    background: #AAA;
}


/* CYLINDER IMAGES */

#cylinderImages {
    position: absolute;
    background: rgba(244, 221, 213, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    left: -2%;
    top: -2%;
    width: 104% !important;
    height: 104% !important;
}

#cylinderImages.visible,
#cylinderImages.visible > *{
    pointer-events: auto;
}

#cylinderImages:after{
    content: '';
    position: absolute;
    bottom: 6%;
    width: 45%;
    height: 80px;
    background: #70574e;
    filter: blur(30px);
    opacity: 0.8;
}

#frame {
    z-index: 20;
    backface-visibility: hidden;
    width: 245px;
    height: 90%;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg) translate3d(3%, 8.5%, 50px)
}

.strip {
    height: 80%;
    width: 80%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

#cylinderImages.visible .strip{
    animation: spin 25s infinite linear;
}

#cylinderImages.visible:hover .strip{
    animation-play-state: paused;
}

.strip div {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #f0f0f0;
    height: 80%;
    /* width: 127%; */
    width: 93%;
}

.strip div > div{
    position: relative;
    top: 0;
    bottom: 0;
    /* background: #000; */
    /* background: rgba(0, 0, 0, 0.98); */
    height: 100%;
    width: 100%;
    border: 1px solid #ddd;
    padding-bottom: 30px;
}

.strip div > div:after{
    content: attr(color);
    position: absolute;
    bottom: 6.5%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    padding: 0.6em 0.1em;
    border: solid #ccc;
    border-width: 1px 0 1px 0;
    color: #555;
}

#frame img{
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden;
}

.strip .blue {
    transform: translateZ(124px);
}

.strip .darkblue {
    transform: rotateY(72deg) translateZ(124px);
}

.strip .purple {
    transform: rotateY(144deg) translateZ(124px);
}

.strip .red {
    transform: rotateY(216deg) translateZ(124px);
}

.strip .black {
    transform: rotateY(288deg) translateZ(124px);
}

@keyframes spin {
    from {
        transform: rotateY(0)
    }
    to {
        transform: rotateY(-360deg)
    }
}

#orderWatch h1{
    font-size: 1.7em;
    margin-bottom: 1.4em;
}

#orderForm{
    background: #fbfbfb;
    width: 85vw;
    max-width: 1000px;
    min-height: 400px;
    border: 2px solid #e5e5e5;
    /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); */
}

.order-item{
    padding: 2em 0;
    min-height: 500px;
    background: #f0f0f0;
}

.order-item .image-scroller{
    justify-self: flex-start;
    width: 200%;
    /* max-height: 270px; */
}

.order-item .image{
    position: relative;
    padding: 0 5%;
    width: 50%;
    margin-right: 0.5em;
    background: #00f;
}

.order-item:not(:last-child){
    border-right: 2px solid #e3e3e3;
}

.order-item > *{
    transition: opacity 0.25s ease-out;
}

.order-item.hidden{
    background: #fbfbfb;
    pointer-events: none;
}

.order-item.hidden > *{
    opacity: 0.2;
}

.order-item img{
    display: block;
    max-width: 60%;
    max-height: 270px;
    margin-bottom: 2em;
}

.order-item strong{
    display: block;
    margin-top: 0.7em;
}

.order-item span{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.75em;
}

.order-item a{
    font-size: 0.9em;
    margin-top: 0.7em;
    margin-bottom: 0;
    letter-spacing: 0.04em;
    display: none !important;
}

#orderForm form{
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; */
    z-index: 1;
    height: 100%;
    width: 50%;
    background: #f8f8f8;
    /* box-shadow: 0 0 4px rgba(0, 0, 0, 0.15); */
    /* border: solid #ddd; */
    /* border-width: 0 2px 0 2px; */
    border-right: 2px solid #e3e3e3;
    padding: 5%;
    /* padding-top: 4.5%; */
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
}

#orderForm form:after,
#orderForm form #loader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

#orderForm form:not(.loading):after,
#orderForm form:not(.loading) #loader{
    opacity: 0;
    pointer-events: none;
}

#orderForm form:after{
    display: flex;
    align-items: center;
    justify-content: center;
    content: 'SENDING ORDER...';
    background: rgba(246, 246, 246, 0.7);
    padding-top: 120px;
}

#orderForm form #loader{
    width: 60px;
    height: 60px;
    z-index: 2;
}

#orderForm form.visible{
    opacity: 1;
    pointer-events: auto;
}

#orderForm form.visible + div .order-item{
    border: none;
}

#orderForm form.visible + div .order-item a{
    display: none;
}

#orderForm input[type="radio"]{
    display: none;
}

#orderForm span{
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.75em;
    margin-bottom: 0.5em;
}

#orderForm label{
    height: 40px;
    min-width: 40px;
    border-radius: 40px;
    border: 1px solid #ddd;
    margin-right: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.9em;
    cursor: pointer;
}

#quantityOptions label:nth-of-type(6){
    height: 35px;
    min-width: 80px;
    font-size: 0.8em;
}

#quantityOptions label:hover{
    background: #eee;
}

#quantityOptions input[type="radio"]:checked + label{
    background: #777;
    color: #fff;
}

#orderForm input:not([type="radio"]){
    width: 100%;
    display: block;
    font-size: 1em;
    padding: 0.8em 0.8em;
    margin-bottom: 0.5em;
}

#typeOptions label{
    font-size: 0.7em;
    height: auto;
    padding: 0.9em 1.2em;
    margin-right: 0.7em;
}

#typeOptions input[type="radio"]:checked + label{
    background: #ddd;
    color: #555;
}

#colorOptions{
    opacity: 0.6;
}

#colorOptions label{
    position: relative;
    opacity: 0.6;
}

#orderForm form.for-bw #colorOptions label:not(.is-bw):not(.is-both),
#orderForm form:not(.for-bw) #colorOptions label.is-bw{
    display: none;
}

#colorOptions label::before,
#colorOptions label::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: inherit;
    border-radius: 50%;
    margin: auto;
}

#colorOptions label::before{
    width: 60%;
    height: 60%;
    border: 4px solid #fff;
    z-index: 1;
    opacity: 0;
}

#colorOptions label:hover{
    opacity: 0.75;
}

#colorOptions input[type="radio"]:checked + label{
    opacity: 1;
    pointer-events: none;
}

#colorOptions input[type="radio"]:checked + label:before{
    opacity: 1;
    transition: opacity 0.2s ease-out;
}

#colorOptions #colorblue + label{
    background: #486dd4;
}

#colorOptions #colordarkblue + label{
    background: #102767;
}

#colorOptions #colorpurple + label{
    background: #641f5d;
}

#colorOptions #colorred + label{
    background: #960018;
}

#colorOptions #colorblack + label{
    background: #000;
}

#orderForm button{
    width: 100%;
    padding: 1em 1em;
    background: #000;
    color: #fff;
    font-size: 0.95em;
    border: none;
}

#footerWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 12;
}

#footerWrapper > .section-wrapper{
    padding-top: 4vh;
    flex: 1;
}

#ceoQuote{
    display: none;
}

footer {
    padding-top: 1em;
    position: relative;
    z-index: 11;
}

footer #copyright {
    padding: 0.8em 0;
}

footer #footerLocation a {
    padding-top: 0.2em;
    /* margin-top: 0.8em; */
}

section:not(.no-pad) {
    padding: 0;
}

section {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@media screen and (max-height: 800px){
    section .images .circle{
        padding-bottom: 0;
        width: 80vh;
        height: 80vh;
    }

    section.inversed .images {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 521px){
    #notificationOptions{
        width: 110%;
        margin-left: -1em;
        flex-wrap: nowrap !important;
    }

    #notificationOptions .fit-option{
        flex-basis: auto;
        text-align: center;
        padding: 0 1em;
    }
    
    #notificationOptions .fit-option span{
        /* text-transform: none; */
        margin-top: 0.5em;
    }
    
    #notificationOptions .fit-option img{
        width: 50px;
    }
}

@media screen and (max-width: 520px){
    header{
        background: transparent;
        z-index: 11;
    }
    header nav {
        height: 20px;
        width: 85%;
    }
    nav a:not(.active) {
        color: #828282;
    }
    #logo img {
        width: 40px;
        height: 40px;
    }

    #sectionScroller {
        z-index: 11;
        bottom: 1.5em;
        width: 45px;
        height: 45px;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2) !important;
    }

    #fullpage{
        z-index: 10;
    }

    section{
        background: rgba(255, 255, 255, 0.8117647058823529);
    }

    section .text {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-right: 1em;
        width: 100vw;
    }

    section.inversed .text {
        padding-right: 0;
        padding-left: 1em;
        text-align: right;
    }

    section h1{
        font-size: 1.6em;
    }
    
    section p{
        font-size: 0.9em;
    }

    section a:not(#footerA) {
        font-size: 0.85rem;
        max-width: 100vw;
    }

    #leftCircle > img:first-child{
        left: 3.5em;
    }

    #outFitImages > img:first-child{
        left: 9.5em;
    }
    
    #outFitImages > img:nth-child(2){
        left: 15.5em;
    }

    #outFitImages img:nth-child(4){
        left: 3em;
    }
    
    #rightCircle img:nth-child(2){
        left: -9.5em;
        top: -2em;
    }

    #somafitMoreFeatures .text{
        padding-right: 2em;
    }

    #somafitPhones a img{
        height: 35px;
    }
    
    #somafitPhones .text > .layout{
        justify-content: flex-end
    }

    .fit-option {
        flex-basis: auto;
        margin-bottom: 1em;
        margin-right: 1em;
        min-width: 80px;
    }

    .fit-option img {
        display: inline-block;
        margin: auto;
        width: 65px;
        width: 40px;
    }

    .fit-option span {
        display: block;
        margin-top: 0.45em;
        font-size: 0.65em;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }
    
    #lookMovers{
        display: block;
        justify-content: flex-end;
        margin-right: -0.8em;
    }

    .look-mover {
        display: inline-block;
        cursor: pointer;
        margin-right: 0.5em;
        margin-bottom: 1em;
        font-size: 0.7em;
        border-color: #bbb;
    }

    .order-item{
        display: none !important;
    }

    #orderForm {
        background: transparent;
        width: 100%;
        max-width: 1000px;
        min-height: 0;
        border: 1px solid #aaa;
        /* padding-left: 0; */
        /* padding-right: 0; */
        /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); */
    }

    #orderForm form {
        height: auto;
        width: 100%;
        background: transparent;
        border-right: none;
        padding: 2em 1.3em;
        opacity: 1;
        pointer-events: auto;
    }

    #orderWatch h1 {
        align-self: flex-start;
        margin-top: 1.2em;
        margin-bottom: 0.8em;
    }

    #orderForm input:not([type="radio"]) {
        border: 1px solid #aaa;
        padding: 0.7em 0.8em;
    }

    #copyright{
        align-items: center;
    }

    #footerLocation{
        display: none;
    }
}

@media screen and (max-width: 370px){
    #footerWrapper > .section-wrapper{
        padding-top: 0;
        margin-top: 68px;
    }

    #orderWatch{
        margin: 0;
        margin-top: 2em;
        flex: 2;
    }

    #orderWatch h1 {
        font-size: 1.3em;
        margin-top: 0;
        margin-bottom: 1.2em;
    }

    #orderForm {
        border: none;
    }

    #orderForm form {
        padding: 0;
    }

    .order-form-section{
        margin-bottom: -0.6em;
    }

    #orderForm span{
        font-size: 0.7em;
        margin-bottom: 0.8em;
        /* text-transform: none; */
    }

    #orderForm label {
        height: 33px;
        min-width: 33px;
    }

    #typeOptions label {
        font-size: 0.65em;
        height: auto;
    }

    #quantityOptions label:nth-of-type(6) {
        height: 33px;
        min-width: 70px;
        font-size: 0.7em;
    }

    #orderForm button {
        padding: 0.7em 1em;
        font-size: 0.95em;
        border-radius: 3px;
    }

    footer{
        padding: 0;
        margin-bottom: 0;
        background: transparent;
    }
}