#somaapp-banner {
    padding-top: 250px;
    min-height: 100vh;
    background: #ffffff;
}

#somaapp-banner .section-title,
#values .section-title {
    color: #333!important;
    line-height: 1.3;
    font-size: 36px;
}

.banner-contents {
    display: flex;
    width: 100%;
    padding: 100px 10% 0;
}

.banner-contents>div {
    width: 33.3333%;
}

.first-phone {
    background-image: url(../img/somaappphone.png);
    height: 700px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    z-index: 1;
    transform: rotate(-20deg);
    margin-left: 100px;
    margin-top: 10px;
}

.second-phone {
    background-image: url(../img/somaappphone.png);
    height: 700px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    z-index: 3;
    transform: rotate(20deg);
    margin-left: -100px;
}

.download-section {
    align-self: center;
    flex-direction: column;
    display: flex;
}

.download-section a {
    text-align: center;
}

.download-section .ios-trigger {
    text-decoration: underline;
    line-height: 3;
}

#somaapp-banner:after {
    content: "";
    width: 50%;
    background: rgba(153, 153, 153, 0.274);
    margin: 0 auto 10px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

#values .section-sub-title {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    font-family: "Light";
    line-height: 1.3;
}